#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;

  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-close {
  display: block;
  float: right;
  padding-top: 3vh;
  padding-right: 3vw;

  font-size: 30px;
  color: white;

  cursor: pointer;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* background: var(--bg-color-2); */

  width: 75vw;
  height: 90vh;
  margin: auto;
  text-align: center;

  border: 1px pink solid;
}

.modal-images {
  box-sizing: border-box;
  height: 80%;
  margin-top: 20px;
  border: red 1px solid;
}

.modal-feature-image {
  box-sizing: border-box;
  height: 80%;
  border: green 1px solid;
}

.modal-slideshow {
  box-sizing: border-box;
  height: 20%;
  border: blue 1px solid;
}

.feature-image {
  width: auto;
  height: 100%;
}

/* ANIMATIONS */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
