body {
  margin: 0;
}

main {
  background: lightgray;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  float: left;
  position: fixed;
  box-sizing: border-box;

  background: #1f1a38;
  text-align: center;
}

.content {
  float: right;
  width: 75vw;
  height: 100vh;
  box-sizing: border-box;
  /* background: #4b4959; */
  background: #ccc;
  padding: 0;

  text-align: center;
}

.content h2 {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.content h3 {
  margin: 0 0 3vh 0;
}

/* .sidebar:hover {
  background: #403572;
} */

.sidebar h1 {
  margin: 0;
  color: #dedcea;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.5vw;
  letter-spacing: 0.3vw;
}

.sidebar h3 {
  margin-top: 4vh;
  color: #dedcea;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 1.2vw;
}

.sidebar-body {
  box-sizing: border-box;
  height: 90%;
  padding-top: 20vh;
}

/* .content h2 {
  margin: 0;
  color: #111;
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

.sidebar-footer a:nth-child(2) {
  margin: 0 20px 0 20px;
}

.sidebar-footer img {
  max-width: 24px;
  transition: all 0.2s;
}

.sidebar-footer img:hover {
  transform: scale(1.5);
}

.container {
  display: inline-block;
}

/********************** GRID ********************/

.grid {
  display: grid;
  box-sizing: border-box;
  width: 65vw;
  max-width: 900px;
  height: 87vh;

  /* grid-template-columns: 1fr 1fr; */

  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-gap: 10px;
}

.box {
  box-sizing: border-box;
  overflow: hidden;
  /* border: 1px dodgerblue solid; */
}

.project-info {
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
  background-image: url('../assets/monster-mapper-banner.png');
  background-size: cover;

  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.project-name-container {
  position: absolute;
  top: 0;
  width: 100%;

  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.project-name {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 3.5vw;
}

.project-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;

  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.project-button {
  border: 2px firebrick solid;
  width: 150px;
  padding: 10px;

  background: none;
  color: white;
}

/* HOVERS */

.project-info:hover > div:nth-child(1) {
  opacity: 0.1;
}

.project-info:hover > div:nth-child(2) {
  transform: translate(0px, 3vh);
  opacity: 1;
}

.project-info:hover > div:nth-child(3) {
  transform: translate(0px, -3vh);
  opacity: 1;
}

/* row start / column start / row span / column span */

/* .a {
  grid-area: 1 / 1 / span 1 / span 1;
}

.b {
  grid-area: 1 / 2 / span 1 / span 1;
}

.c {
  grid-area: 2 / 1 / span 1 / span 1;
}

.d {
  grid-area: 2 / 2 / span 1 / span 1;
} */

/*
@media screen and (max-width: 985px) {
  .sidebar {
    width: 100vw;
    height: 30vh;
  }

  .content {
    float: right;
    width: 100vw;
    box-sizing: border-box;
    background: #4b4959;
    padding: 0;

    text-align: center;
  }

} */
