body {
  margin: 0;
}

main {
  background: lightgray;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  float: left;
  position: fixed;
  box-sizing: border-box;

  background: #1f1a38;
  text-align: center;
}

.content {
  float: right;
  width: 75vw;
  height: 100vh;
  box-sizing: border-box;
  background: #4b4959;
  padding: 0;

  text-align: center;
}

/* .sidebar:hover {
  background: #403572;
} */

.sidebar h1 {
  margin: 0;
  color: #dedcea;
  font-family: sans-serif;
  letter-spacing: 0.5vw;
}

.sidebar-body {
  box-sizing: border-box;
  height: 90%;
  padding-top: 20vh;
}

/* .content h2 {
  margin: 0;
  color: #111;
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

.sidebar-footer a:nth-child(2) {
  margin: 0 20px 0 20px;
}

.sidebar-footer img {
  max-width: 24px;
  transition: all 0.2s;
}

.sidebar-footer img:hover {
  transform: scale(1.5);
}

/************* TEST STUFF  ******************/

.test-container {
  height: 100px;
  border: 1px yellow solid;
}

.test-picture {
  height: 100px;
  background: green;
}

.test-message {
  position: relative;
  bottom: 100px;

  height: 100px;
  color: white;
  background: red;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.test-words {
  display: block;
  /* border: 1px cyan solid; */
  font-family: sans-serif;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.test-button-container {
  display: block;
  position: relative;
  top: 45%;

  /* border: 1px cyan solid; */
  transition: all 0.2s ease-in-out;
}

.test-button {
  border: none;
  color: white;
  background-color: purple;
  padding: 10px;
}

.test-message:hover {
  opacity: 1;
}

.test-message:hover span {
  transform: translate(0px, 20px);
  opacity: 1;
}

.test-message:hover div {
  transform: translate(0px, -12px);
}

.container {
  display: inline-block;
}

/********************** GRID ********************/

.grid {
  display: grid;
  box-sizing: border-box;
  width: 65vw;
  max-width: 900px;
  height: 90vh;

  /* grid-template-columns: 1fr 1fr; */

  grid-template-rows: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-gap: 10px;

  border: 1px firebrick solid;
}

.box {
  box-sizing: border-box;
  overflow: hidden;
  border: 1px dodgerblue solid;
}

.project-info {
  position: relative;
  height: 100%;
  width: 100%;
  color: white;

  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.card {
  height: 100%;
  width: 100%;
  background-image: url('../assets/monster-mapper-banner-2.png');
  background-size: cover;
}

.project-name-container {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 40px; */
}

.project-name {
  display: block;
  font-family: sans-serif;
  font-size: 48px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.project-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;

  transition: all 0.2s ease-in-out;
}

.project-image-container {
  position: relative;
  bottom: 80px;
}

.project-button {
  border: none;
  color: white;
  background-color: purple;
  padding: 10px;
}

.project-info:hover {
}

/* HOVERS */

.project-info:hover div:nth-child(1) {
  opacity: 0.1;
}

.project-info:hover span {
  transform: translate(0px, 20px);
  opacity: 1;
}

.project-info:hover div:nth-child(3) {
  transform: translate(0px, -12px);
  opacity: 1;
}

/* row start / column start / row span / column span */

/* .a {
  grid-area: 1 / 1 / span 1 / span 1;
}

.b {
  grid-area: 1 / 2 / span 1 / span 1;
}

.c {
  grid-area: 2 / 1 / span 1 / span 1;
}

.d {
  grid-area: 2 / 2 / span 1 / span 1;
} */

/*
@media screen and (max-width: 985px) {
  .sidebar {
    width: 100vw;
    height: 30vh;
  }

  .content {
    float: right;
    width: 100vw;
    box-sizing: border-box;
    background: #4b4959;
    padding: 0;

    text-align: center;
  }

} */
